*{
    box-sizing: border-box;
 
}

html{
    background-color: black;
}

/* pixel style font */
@font-face {
    font-family: 'VT323-Regular';
    src: url('VT323-Regular.ttf'); /* IE9 Compat Modes */
    src: url('VT323-Regular.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('VT323-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('VT323-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

body{
    margin: 0;
    padding: 0;
    font-family: 'VT323-Regular';
    color: white;
    margin-bottom: 5%;
    

}



h2{
    font-size: 100px;
    letter-spacing: 2;
  
}



p{
    font-size: 50px;
}

footer{
    width: 100%;
    text-align: center;
    margin-top: 3%;
}

footer p{
    font-size: 20px;
}


/* Main Content */

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-content p{
    margin: 0 5%;
}

/* Buttons */

.options{
    display: flex;

}

.btn{


    cursor: pointer;
    padding: 1%;
    margin: 3%;
    width: 40vh;
    border-radius: 10px;
    font-family:'VT323-Regular' ;
    font-size: 30px;
    background-color: white;

}

.play-btn{
 

}

.play-btn:hover{
   
    background-color: rgb(29, 112, 29);
    color: white;
}

.pause-btn:hover{
    background-color: rgb(221, 178, 35);
    color: white;
}

.restart-btn:hover{
    background-color: rgb(194, 4, 4);
    color: white;
}

.inventory-btn:hover{
    background-color: rgb(4, 109, 194);
    color: white;
}